@model RedPetroleum.Models.Entities.Department

@{
    ViewBag.Title = "Удаление";
}

<h3>Вы действительно хотите удалить отдел?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Имя отдела
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Имя управляющего отдела
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departments.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            <a href="@Url.Action("Index", "Departments")" class="btn btn-info"><i class="fa fa-arrow-left" aria-hidden="true" title="Назад" data-toggle="tooltip" data-placement="top"><span style="padding: 5px;">Назад</span></i></a>
        </div>
    }
</div>
