@model RedPetroleum.Models.Entities.Position

@{
    ViewBag.Title = "Подробно";
}

<h2>Подробная информация</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Имя должности
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<div class="form-group">
    <div class="btn-group" role="group">
        <a href="@Url.Action("Edit", "Positions", new { id = Model.PositionId})" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true" title="Редактировать" data-toggle="tooltip" data-placement="top"><span style="padding: 5px;">Редактировать</span></i></a>
        <a href="@Url.Action("Index", "Positions")" class="btn btn-info"><i class="fa fa-arrow-left" aria-hidden="true" title="Назад" data-toggle="tooltip" data-placement="top"><span style="padding: 5px;">Назад</span></i></a>
    </div>
</div>
