@model IEnumerable<RedPetroleum.Models.Entities.Employee>

@if (Model != null)
{
    foreach (var employee in Model)
    {
        <tr>
            <td>@employee.EFullName</td>
            <td>@employee.Position.Name</td>
        </tr>
    }
}