@model List<RedPetroleum.Models.ReportByInstructionsDGViewModel>
@{
    /**/

    int i = 1;
}
@if (Model != null)
{
    foreach (var employee in Model)
    {
        <tr>
            <td>@(i++)</td>
            <td>@employee.TaskName</td>
            <td class="text-center">@Math.Round(Convert.ToDouble(employee.AverageMark), 2) %</td>
            <td>@employee.CommentEmployees</td>
        </tr>
    }
}
