@*@model IEnumerable<RedPetroleum.Models.Entities.Employee>*@
@model List<RedPetroleum.Models.ReportByCompanyViewModel>
@{
    int i = 1;
}
@if (Model != null)
{
    foreach (var employee in Model)
    {
        <tr>
            <td class="text-center">@(i++)</td>
            <td class="text-center employee">@employee.EmployeeName</td>
            <td class="text-center">@employee.Position</td>
            <td class="text-center mark">@Math.Round(Convert.ToDouble(employee.AverageMark), 2) %</td>
            <td></td>
        </tr>
    }
}