@model IEnumerable<RedPetroleum.Models.Entities.Employee>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>EFullName</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.EFullName</td>
                       
                    </tr>
                }
            }
        </tbody>
    </table>
    <a href="@Url.Action("ExportToExcel","Home")">Export Excel </a>
</div>